.photoframe img {
    width: 300px;
    border: 5px solid blue;
    margin: 10px;
    padding: 15px;
}

.table {
    background-color: antiquewhite;
}

.header {
    background-color: blueviolet;
    font-size: 30px;
    color: bisque;
    font-weight: bold;
}

.table td {
    padding: 20px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:nth-child(odd) {
    background-color: #ffffff;
}

.form {
    width: 400px;
    height: 500px;
    justify-content: center;
    margin-left: 350px;
    margin-top: 50px;
    align-items: center;
    padding-top: 50px;
    border-radius: 40px;
    background-color: rgb(196, 215, 152);
}

.details {
    width: 300px;
    justify-content: center;
    margin-left: 65px;
    background-color: antiquewhite;
}

.image {
    width: 700px;
    margin-left: 80px;
}
